@import "tailwindcss";
@import "tw-animate-css";

@source "../src/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-gi-dark-primary: var(--gi-dark-primary);
  --color-gi-primary: var(--gi-primary);
  --color-gi-primary-hover: var(--gi-primary-hover);
  --color-gi-light-primary: var(--gi-light-primary);
  --color-gi-secondary: var(--gi-secondary);
  --color-gi-secondary-hover: var(--gi-secondary-hover);
  --color-gi-dark-gray: var(--gi-dark-gray);
  --color-gi-gray: var(--gi-gray);
  --color-gi-gray-hover: var(--gi-gray-hover);
  --color-gi-dark-ash: var(--gi-dark-ash);
  --color-gi-ash: var(--gi-ash);
  --color-gi-ash-hover: var(--gi-ash-hover);
  --color-gi-red: var(--gi-red);
  --color-gi-red-hover: var(--gi-red-hover);
  --color-gi-green: var(--gi-green);
  --color-gi-green-hover: var(--gi-green-hover);
  --color-gi-orange: var(--gi-orange);
  --color-gi-orange-hover: var(--gi-orange-hover);
  --color-gi-blue: var(--gi-blue);
  --color-gi-blue-hover: var(--gi-blue-hover);
  --color-gi-navy: var(--gi-navy);
  --color-gi-navy-hover: var(--gi-navy-hover);
  --color-gi-blue-soft: var(--gi-blue-soft);
  --color-gi-blue-lightest: var(--gi-blue-lightest);
  --color-gi-light-gray: var(--gi-light-gray);
  --color-gi-light-gray-dark: var(--gi-light-gray-dark);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --gi-dark-primary: oklch(0.2159 0.0378 213.04);
  --gi-primary: oklch(0.360529 0.06495 218.4126);
  --gi-primary-hover: oklch(0.3108 0.0557 217.61);
  --gi-light-primary: oklch(0.4189 0.076 219.48);
  --gi-secondary: oklch(0.5332 0.0975 220.61);
  --gi-secondary-hover: oklch(0.455353 0.08256 219.3898);
  --gi-dark-gray: oklch(0.398 0.0331 213.7);
  --gi-gray: oklch(0.7126 0.0154 213.12);
  --gi-gray-hover: oklch(0.6057 0.0122 211.04);
  --gi-dark-ash: oklch(0.881 0.0067 208.78);
  --gi-ash: oklch(0.9527 0.0051 228.82);
  --gi-ash-hover: oklch(0.806 0.0044 236.51);
  --gi-red: oklch(0.601 0.2132 25.79);
  --gi-red-hover: oklch(0.5097 0.1783 25.68);
  --gi-green: oklch(0.6166 0.1744 138.04);
  --gi-green-hover: oklch(0.5258 0.1468 137.82);
  --gi-orange: oklch(0.7387 0.1464 73.45);
  --gi-orange-hover: oklch(0.6265 0.1232 73.69);
  --gi-blue: oklch(0.5891 0.1775 258.78);
  --gi-blue-hover: oklch(0.5021 0.1473 258.57);
  --gi-navy: oklch(0.3726 0.0599 257.97);
  --gi-navy-hover: oklch(0.3149 0.0483 258.28);
  --gi-blue-soft: oklch(0.548 0.0897 257.71);
  --gi-blue-lightest: oklch(0.9357 0.031 257.23);
  --gi-light-gray: oklch(0.9602 0.0034 247.86);
  --gi-light-gray-dark: oklch(0.9054 0.0092 258.34);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
